---
layout: page
title: Projetos
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                    <h3> <a href="https://cayan-portela.github.io/2015_CayanAtreioPortelaBarcenaSaavedra.pdf">GWAS: Redução de Dimensionalidade via Seleçao por Torneios e Análises Indicativas</a> </h3>
                    <h3> <a href="http://cayan.shinyapps.io/glm-app">A shiny app to perform generalized linear models</a> </h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
